html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 224, 224);
}

.teamname {
    text-align: center;
    margin-top: 7%;
}

#fighterscont {
    margin-left: 3%;
    margin-left: 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

#teamssCard {
    width: 255px;
    height: 325px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border: 5px solid rgb(255, 209, 0)
}

#teamssCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    transform: scale(1.05);
    cursor: pointer;
}

.fstat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.fighterstat {
    color: #fafafa;
    font-family: All-ProSans, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.fighterweight {
    color: #fafafa;
    font-family: All-ProSans, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid white;
    /* width: 100%; */
    margin-bottom: 40%;
    margin-top: 10%;
}

.fightername {
    color: #fafafa;
    font-family: All-ProSans, Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}

.fimg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 4%;
    flex-wrap: wrap;
}

.finforcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.finfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10%;
}

.cutBtn {
    height: 20px;
    width: 62px;
    background-color: #fff;
    color: rgb(46, 102, 255);
    border: none;
    /* margin-right: 2%; */
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.cutBtn:hover {
    color: #fff;
    background-color: rgb(46, 102, 255);
    cursor: pointer;
}
