#gameday {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;

}

#squadcont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.squadOne {}



.gamehead {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 30px;
    color: gray;
    margin-bottom: 8%;
    margin-top: 3%;
}

.gamevs {
    margin-left: 5%;
    margin-right: 5%;
}

.scoreteam {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.squadcard {
    margin-bottom: 15%;
    height: 235px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sqaudname {
    font-size: 18px;
    font-weight: bold;
}

.formcont {
    border: 1px solid;
    margin-bottom: 40%;
    height: 180px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    background-color: white;
}

.sqform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.squadselect {
    height: 25px;
    width: 150px;
    text-align: center;
    outline: 1px dotted #013369;
}

.squadweight {
    font-size: 18px;
    font-weight: bolder;
    border-bottom: 1px solid gray;
    width: 100%;
    text-align: center;
    background-color: #013369;
    color: white;
    height: 15%;
}
